* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #760ba3, #cc0c3c);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  border: none;
  background: white;
}

form button {
  color: #cc0c3c;
  cursor: pointer;
  transition: transform 0.5s;
}

form button:hover {
  background: #e41e4f;
  color: white;
  transform: rotateY(180deg);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 25%;
  list-style: none;
}

.todo {
  margin: 0.3rem;
  background: white;
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #e41e4f;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.8s;
}

.trash-btn:hover {
  background: #e41e4f;
  color: white;
  transform: rotateY(360deg);
}

.complete-btn {
  background: #1adf34;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.8s;
}

.complete-btn:hover {
  background: #1adf34;
  color: white;
  transform: rotateY(360deg);
}

.todo-item {
  padding: 0rem 0.6rem;
  width: 20rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  appearance: none;
  outline: none;
  border: none;
  color: #e41e4f;
  width: 10rem;
  cursor: pointer;
  padding: 0.7rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #e41e4f;
  top: 0;
  right: 0;
  padding: 0.4rem 0.7rem;
  pointer-events: none;
}

.select:hover::after {
  background: white;
  color: #e41e4f;
  transition: all 0.5s ease;
}
